# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.sved
.hypothesis/
.pytest_cache/
cover/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.env.*
!.env.example
*.db
*.sqlite
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Mac / Windows OS files
.DS_Store
Thumbs.db
Desktop.ini

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
anomoly-detector/models/*
blue_agent/anomaly_detector/models/*
blue_agent/models/*
data/
*.log
